* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 5% 0 10px 5%;
}

h1,
h2,
h3 {
    color: #5e8000;
}
p {
    color: rgb(95, 94, 94);
}
.grid-container>div {
    text-align: start;
    padding: 20px;
}

/*****************************  RESPONSIVENESS  ********************************/

@media screen and (max-width:768px) {
    .grid-container {
        display: block;
    }
}