footer {
    background: rgba(244, 244, 244, 0.648);
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0 auto;
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    text-align: center;
}

.footer-wave-svg {
    background-color: rgba(244, 244, 244, 0.651);
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
    grid-column: 1 / 5;
}

.footer-wave-path {
    fill: #beb6d6e6;
}

.copyright {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4af37;
    height: 48px;
    grid-column: 1 / 5;
}

picture,
address,
.location {
    padding-top: 15px;
}

/************** responsiveness *****************/
@media screen and (max-width:738px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .location {
        grid-column: 1 / 4;
    }

    .copyright {
        grid-column: 1 / 4;
    }

}

@media screen and (max-width:450px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    picture {
        grid-column: 1 / 3;
    }

    .location {
        grid-column: 1 / 4;
    }

    .copyright {
        grid-column: 1 / 4;
    }

}

@media screen and (max-width:380px) {
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    picture {
        grid-column: 1 / 5;
    }

    /* .location {
        grid-column: 1 / 4;
    }

    .copyright {
        grid-column: 1 / 4;
    } */

}